<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SVG</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>

<body class="video">
    <header class="menu p-3">
        <h2><a href="./index.html">Inicio</a></h2>
        <div class="listado">
            <ul>
                <li><a href="./galeria.html">Galeria</a></li>
                <li><a href="./audio.html">Audio</a></li>
                <li><a href="./video.html">Video</a></li>
            </ul>
        </div>
    </header>

    <div class="descripcion-video">
        <h2><strong>Descripción</strong></h2>
        <p><strong>Temática seleccionada:</strong> Inspirada en el desierto árido, con referencias a la película <i>Dune</i> y la estética desértica de otras producciones.</p>
        <p><strong>Edición de vídeo:</strong> Usamos un programa open-source Kdenlive para probar lo básico de la edición de video. Jugamos con cortes, transiciones y algo de audio para darle más vida. Aunque al principio parecía complicado, al final resultó bastante entretenido ver cómo todo iba tomando forma.</p>
    </div>

    <div class="main">
        <div class="video-container">
            <video src="../static/video/video.mp4" controls></video>
        </div>

        <div class="titulo-video"><h3>EFECTOS DE VIDEO</h3></div>

        <div class="table-container">
            
            <div class="table-one">
                <table>
                    <tr>
                        <th><strong>Fade in / out</strong></th>
                    </tr>
                    <tr>
                        <td><strong>00:42:15 - 00:45:23</strong></td>
                        <td><strong>00:46:00 - 00:49:04</strong> </td>
                        <td><strong>00:49:09 - 00:52:05</strong> </td>
                        <td><strong>00:52:11 - 00:55:02</strong></td> 
                        <td><strong>00:55:09 - 00:58:09</strong></td> 
                        <td><strong>00:58:16 - 01:02:03</strong></td> 
                        <td><strong>01:02:15 - 01:05:09</strong></td> 
                        <td><strong>01:05:16 - </strong></td>  
                        <td><strong>01:07:15 - </strong></td>  
                        <td><strong>01:11:07 - </strong></td>  
                        <td><strong>- 01:59:00 </strong></td>  
                        <td><strong>02:00:15 - 02:05:23</strong></td> 
                        <td><strong>02:05:09 - 02:09:20</strong></td> 
                        <td><strong>02:10:06 - 02:14:23</strong></td> 
                        <td><strong>02:15:09 - </strong></td> 
                        <td><strong>02:35:00 - 02:38:12</strong></td> 
                        <td><strong>02:40:19 - 02:42:09</strong></td> 
                        <td><strong>02:42:13 - 02:44:21</strong> </td>
                        <td><strong>02:45:05 - 02:50:09</strong></td> 
                        <td><strong>02:54:08 - 02:56:08</strong></td> 
                        <td><strong>03:00:21 - 03:02:21</strong></td> 
                        <td><strong>03:03:03 - 03:05:13</strong></td> 
                        <td><strong>03:05:21 - </strong></td>  
                        <td><strong>03:40:00 - </strong></td>  
                        <td><strong> - 04:21:07</strong></td> 
                        <td><strong>04:29:05 - 04:40:03</strong></td> 
                        <td><strong>04:40:14 - 04:46:18</strong></td> 
                        <td><strong>04:45:13 - 05:13:07</strong></td> 
                        <td><strong>05:15:00 - 05:27:17</strong></td> 
                        <td><strong>05:26:10 - 05:46:04</strong></td> 
                        <td><strong>05:44:03 - 05:56:10</strong> </td>
                        <td><strong>05:55:22 - 06:08:09</strong></td> 
                        <td><strong>06:05:05 - 06:20:23</strong></td> 
                        <td><strong>06:21:23 - 06:29:06</strong></td> 
                        <td><strong>06:29:18 - 06:57:18</strong></td> 
                        <td><strong>06:58:04 - 07:01:01</strong> </td>
                        <td><strong>07:01:18 - 07:08:05</strong> </td>
                        <td><strong>07:08:12 - 07:13:07</strong></td> 
                        <td><strong>07:13:17 - 07:21:19</strong> </td>
                        <td><strong>07:19:09 - 07:26:07</strong> </td>
                        <td><strong>07:25:22 - 07:30:21</strong> </td>
                        <td><strong>07:30:00 - 07:33:05</strong></td> 
                        <td><strong>07:32:13 - 07:37:05</strong> </td>
                        <td><strong>07:38:00 - 07:45:08</strong></td> 
                        <td><strong>07:43:17 - 07:55:14</strong></td>
                    </tr>
                </table>
            </div>
            
            <div class="table-two">
                <table>
                    <tr><th><strong>composicion y transformacion</strong></th></tr>
                    <tr><td><strong>00:00:00 - 07:56:00</strong></td></tr> 
                </table>

            </div>
            
            <div class="table-three">
                <table>
                    <tr><th><strong>velocidad</strong></th></tr>
                    <tr>       
                        <td><strong>40% 00:36:21 - 00:40:05</strong></td>
                        <td><strong>50% 01:16:02 - 01:17:13</strong></td>
                        <td><strong>30% 01:17:20 - 01:19:12</strong></td>
                        <td><strong>20% 02:35:03 - 02:38:08</strong></td>
                        <td><strong>20% 06:58:05 - 07:01:11</strong></td>
                        <td><strong>10% 07:01:17 - 07:08:02</strong></td>
                        <td><strong>50% 07:32:12 - 07:37:05</strong></td>
                    </tr>
                </table>
            </div>
            
            <div class="table-four">
                <table>
                    <tr><th><strong>estilizacion - Glow</strong></th></tr>
                    <tr><td><strong>40% 00:42:19 - 00:45:20</strong></td></tr>
                </table>
            </div>
            
        </div>

    </div>

    <footer class="text-center p-3">
        <p>By Natalia Soria</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/" class="me-3"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/" class="me-3"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/" class="me-3"><i class="bi bi-youtube"></i></a>
            <a href="https://www.linkedin.com/" class="me-3"><i class="bi bi-linkedin"></i></a>
        </div>
    </footer>

       
</body>
</html>